table {
    margin: 10px auto 10px;
    border-collapse: collapse;
    background-color: white;
}
#mainForm input {
    cursor: pointer;
}
#mainCheckbox {
    float: left;
}
th {
    padding: 3px;
    border: 1px solid black;
    text-align: center;
    background: #b0e0e6;
    height: 32px;
}
td {
    text-align: left;
    padding: 3px;
    border: 1px solid black;
}
td a {
    cursor: pointer;
}
tr:nth-child(2n + 1) {
    background: #f1f1f4;
}
tr:hover {
    background-color: #d5e6a2;
}
.images img {
    display: block;

}
img {
    padding: 4px;
    width: 20px;
    margin: 0 auto;
    cursor: pointer;
}
.majorButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#searcher td {
    text-align: center;
    min-width: 110px;
}
#searcher input {
    cursor: text;
    width: 130px;
}
#searcher tr:hover {
    background-color: #f1f1f4;
}
#searcher table {
    margin: 0 0 0 0;
}